{% extends 'bd_team/base.html' %}
 <head>
  <style>
   body {
    margin: 5;
   }
  </style>
 </head>
{% block content %}
     <div class="row row-cols-2 row-cols-sm-8 row-cols-md-8 g-10">
        <div class="col">
          <div class="card shadow-sm">
           <img src="{{ player.photo.url}}" class="img-thumbnail" width="200"  hspace="25">
            <div class="card-body">
                <h2 class="card-text">{{player.name}}</h2>
                <table class ="table table-striped table-hover" >
                    <tr><th><p class="card-text">Номер</p></th> <th scope="col">{{player.number}}</th></tr>
                    <tr><th><p class="card-text">Дата рождения</p></th> <th scope="col">{{player.date_birth}}</th></tr>
                    <tr><th><p class="card-text">Амплуа</p></th> <th scope="col">{{player.role}}</th></tr>
                    <tr><th><p class="card-text">Гражданство</p></th> <th scope="col">{{player.citizenship}}</th></tr>
                </table>
              <div class="d-flex justify-content-between align-items-center">

                  <a href="{{ player.get_absolute_url2}}" ><button type="button" class="btn btn-sm btn-outline-secondary">Изменить</button></a>
              </div>
            </div>
          </div>
        </div>
        </div>

{% endblock %}
