{% extends 'bd_team/base.html' %}

{% block content %}
    {% if object_list %}
<table class="table table-striped table-hover">
    <tr>
      {% for h in head %}
      <th scope="col">{{ h }}</th>
      {% endfor %}
        <th scope="col">Добавить состав</th>
        <th scope="col">Архивировать</th>
    </tr>
      {% for g in object_list %}
        <tr>
         <th scope="col"><a href="{%url 'game_info' g.id%}"  style="color:black;" class="nav-link">{{ g.id }}</a></th>
         <th scope="col"><a href="{%url 'game_info' g.id%}"  style="color:black;" class="nav-link">{{ g.date }}</a></th>
         <th scope="col"><a href="{%url 'game_info' g.id%}"  style="color:black;" class="nav-link">{{ g.opponent }}</a></th>
        {%if g.area %}
             <th scope="col"><a href="{%url 'game_info' g.id%}"  style="color:black;" class="nav-link">+</a></th>
        {% else %}
             <th><a href="{%url 'game_info' g.id%}"  style="color:black;" class="nav-link">-</a></th>
        {% endif %}
         <th scope="col"><a href="{%url 'game_info' g.id%}"  style="color:black;" class="nav-link">{{ g.role }}</a></th>
         <th scope="col"><a href="{%url 'game_info' g.id%}"  style="color:black;" class="nav-link">{{ g.score|default_if_none:'-' }}</a></th>
         <th scope="col"><a href="{%url 'game_info' g.id%}"  style="color:black;" class="nav-link">{{ g.judge|default_if_none:'-' }}</a>
         <th><a href="{%url 'add_game_info' g.id %}"  ><button class="btn btn-success" type="submit"></button></a></th>
         <th><a href="{%url 'add_archive' g.id%}"  ><button class="btn btn-success" type="submit"></button></a></th>
        </tr>
      {% endfor %}
</table>
      {% else %}
     <p>Нет данных об играх</p>
      {% endif %}
     <a href="{%url 'add_game' %}"  ><button class="btn btn-success" type="submit">Добавить матч</button></a><br>
{% endblock %}
