{% extends 'bd_team/base.html' %}
{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for p in player%}
        <div class="col">
          <div class="card shadow-sm">
              {% if p.public_photo %}
           <img src="{{ p.public_photo.url}}" class="img-thumbnail" width="200"  hspace="25">
              {% else %}
                            {% if p.photo%}
                                <img src="{{ p.photo.url}}" class="img-thumbnail" width="200"  hspace="25">
                            {% endif%}
              {% endif%}
            <div class="card-body">
              <p class="card-text">{{p.name}}</p>
              <p class="card-text">{{p.role}}</p>
              {% if p.biog%}
                            <p class="card-text">{{p.biog}}</p>
              {% endif%}
                {% if p.role_id != 1 %}
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Показатель = {{p.indicator}}</small>
              </div>
               {%endif %}
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
{% endblock %}
